@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #363636;
  --text-color: #F2F2F2;
  --primary-color: #FF85E4;
  --secondary-color: #DDDBFF;
  --accent-color: #6FEAFF;
}

body {
  background: var(--background-color);
}

.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}

.code-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.m-plus-1-code-550 {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.m-plus-1-code-400 {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}